
body{
    padding-top: 20px;
    padding-left: 250px;
    padding-right: 250px;
}



.nav-panel li {
    position: relative;
    left: 1000px;
    display: inline;
    margin: 12px;

    padding: 3px;

}

.block{
	display: flex;

}


.imgprofile{
	height: 400px;
	width: 300px;
}

.info{
	padding-left: 40px;
}





.circle {
	;
  width: 45px;
  height: 45px;
  border: 1px solid black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button{
	padding-left: 65px;
	padding-top: 30px;
	padding-bottom: 15px;
}






.container{
	display: grid;
	grid-template-columns: 350px 1fr;

	grid-column-gap: 10px;
	grid-auto-rows: minmax(500, auto);
	align-items: start;
}

.name{
	padding: 10px;
	border: 1px solid black;
}

.posts {
	padding: 10px;
	border: 1px solid black;
}

.postimg{
	width: 400px;
	height: 400px;
}

.item{
  padding-left: 200px;
  padding-top: 35px;

    /*border: 1px solid black;*/
}

.post_list_img{
  padding-left: 50px;
  max-width: 500px;
  max-height: 600px;
}

.textimg{
  display: flex;
}

.text{
  padding-left: 10px;
  padding-top: 10px;
}

.text2{
  padding-left: 50px;
  max-width: 500px;
}
.name{

  display: flex;
}

.fuck{
  padding-left: 10px;
}